body {
   <img src="https://i.pinimg.com/736x/cb/3c/ef/cb3cefbcba842dc7a34c0dfafcf38858.jpg" class="tech-image">
   img {
   width: 200px;
   height: 300px;
   object-fit: contain;
}
}
 
      
}

h1 {
    color: black;
    text-align: center;
}

p { 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
     
} 

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
      
}
