body {
       background-image: url(https://i.pinimg.com/736x/cb/3c/ef/cb3cefbcba842dc7a34c0dfafcf38858.jpg);
       float: right; /* Aligns to the left */
       margin-right: 10px
       background-color: lightgray;
}

h1 { 
    border:2px solid Violet;
    color: black;
    text-align: center;
}

p { 
    background-color: lightgray;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
     
} 

p {
    background-color: lightgray;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
      
}
